<!doctype html>
<html lang="{{ metadata.language }}">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{{ title or metadata.title }}</title>
        <meta name="description" content="{{ description or metadata.description }}">
        <link rel="apple-touch-icon" sizes="57x57" href="icons/apple-icon-57x57.png">
        <link rel="apple-touch-icon" sizes="60x60" href="icons/apple-icon-60x60.png">
        <link rel="apple-touch-icon" sizes="72x72" href="icons/apple-icon-72x72.png">
        <link rel="apple-touch-icon" sizes="76x76" href="icons/apple-icon-76x76.png">
        <link rel="apple-touch-icon" sizes="114x114" href="icons/apple-icon-114x114.png">
        <link rel="apple-touch-icon" sizes="120x120" href="icons/apple-icon-120x120.png">
        <link rel="apple-touch-icon" sizes="144x144" href="icons/apple-icon-144x144.png">
        <link rel="apple-touch-icon" sizes="152x152" href="icons/apple-icon-152x152.png">
        <link rel="apple-touch-icon" sizes="180x180" href="icons/apple-icon-180x180.png">
        <link rel="icon" type="image/png" sizes="192x192" href="icons/android-icon-192x192.png">
        <link rel="icon" type="image/png" sizes="32x32" href="icons/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="96x96" href="icons/favicon-96x96.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
        <link rel="manifest" href="icons/manifest.json">
        <meta name="msapplication-TileColor" content="#ffffff">
        <meta name="msapplication-TileImage" content="icons/ms-icon-144x144.png">
        <meta name="theme-color" content="#ffffff">
        <link rel="alternate" href="/feed/feed.xml" type="application/atom+xml" title="{{ metadata.title }}">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&display=swap">
            {%- css %}{% include "public/css/index.css" %}{% endcss %}
        {#- Render the CSS bundle using inlined CSS (for the fastest site performance in production) #}
        <style>{% getBundle "css" %}</style>
        {#- Renders the CSS bundle using a separate file, if you can't set CSP directive style-src: 'unsafe-inline' #}
        {#- <link rel="stylesheet" href="{% getBundleFileUrl "css" %}"> #}
        {#- Add the heading-anchors web component to the JavaScript bundle #}
        {%- js %}
        {% include "node_modules/@zachleat/heading-anchors/heading-anchors.js" %}
    {% endjs %}
    </head>
        <body><a href="#skip" class="visually-hidden">Skip to main content</a>
        <header>
            <a href="/" class="home-link">{{ metadata.title }}</a>
            <nav>
                <h2 class="visually-hidden">Top level navigation menu</h2>
                <ul class="nav">
                    {%- for entry in collections.all | eleventyNavigation %}
                        <li class="nav-item">
                            <a href="{{ entry.url }}" {% if entry.url == page.url %} aria-current="page" {% endif %}>{{ entry.title }}</a>
                        </li>
                    {%- endfor %}
                </ul>
            </nav>
        </header>
        <main id="skip">
            <heading-anchors>
                {{ content | safe }}
            </heading-anchors>
        </main>
        <footer>
            <p>
                <em>Built with
                    <a href="https://www.11ty.dev/">{{ eleventy.generator }}</a>
                </em>
            </p>
        </footer>
        <!-- This page `{{ page.url }}` was built on {% currentBuildDate %} -->
        <script type="module" src="{% getBundleFileUrl "js" %}"></script>
        <!-- Google tag (gtag.js) -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-M4V1XCD4EB"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag() {
                dataLayer.push(arguments);
            }
            gtag('js', new Date());
            gtag('config', 'G-M4V1XCD4EB');
        </script>
    </body>
</html>